body {
    font-family: "Roboto", sans-serif;
    margin: auto;
    max-width: 500px;
    min-width: 360px;
}

.nav {
    /* text-align: center; */
}

.checkIn {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

header {
    text-align: left;
}

#errorMessage {}

.checkIn>p {
    margin-bottom: 20px;
}

.sessionDate {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 10px;
    text-align: center;
}

.logBoxWrap {
    border: 1px solid;
    display: block;
    /* width: 50em; */
    min-width: 200px;
    max-width: 300px;
    padding: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin: auto;
    margin-bottom: 20px;
}

.logBoxWrap.div {
    background-color: aqua;
}

.logBoxP {
    padding-left: 10px;
    margin: 10px;
}

.top-bar-container {
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.top-bar-content {
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 5px;
}