<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <!--
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="624348957845-tecgbgc89gi38ife3psisn3mjcv6k715.apps.googleusercontent.com">
    !-->
</head>
<body>
    <h1>Login page</h1>
<!--    <div 
        class="g-signin2" 
        data-onsuccess="onSignIn"
        data-redirecturi="/auth/google">
    </div>
    
    <a href="#" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
 !-->
    <li><a href='/auth/google'>Google+</a>
    <li><a href='/auth/logout'>logout</a>
    <li><a href='/'>home </a>
</body>
</html>