<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>
<body>
    <h1>Login page</h1>
    <li><a href='/auth/google'>Google+</a>
    <li><a href='/auth/logout'>logout</a>
    <li><a href='/'>home </a>
  
</body>
</html>